div {
    display: flex;

    .subIcon {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.5rem;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        svg {
            transform: scale(1.2);

            &:hover {
                transform: scale(1.5);

            }
        }
    }
}